$font-stack: 'helvetica', 'Arial', sans-serif;
$bg-color: #e3e3e3;
$content-color: #939393;

body {
   max-width: $width-body;
}

// =================================================================================
//  
// =================================================================================

h1 {
   font-size: 2rem;
   margin: .67em 0;
   clear: both;
}

h2 {
   font-size: 1.5em;
   margin: .75em 0;
}

h3 {
   font-size: 1.17em;
   margin: .83em 0;
}

a {
   color: rgba(242, 242, 242, 0.8);	
   font-size: 0.8em;
   text-decoration: none;
}

a:hover {
   color: rgb(100, 100, 100);
}