body {
   font: 1rem / 1.3 'Ubuntu', sans-serif;
   margin: 0 auto;
   padding: 0 8px;
}

$icon-width-height: 0.4 * $grid-width;
$menu-icon-height: 1 * $leading;

// =================================================================================
// body
// =================================================================================
// body{
// 	max-width: $width-body;
// 	margin: 0;
// 	padding: 0;
// 	width: 100%;
// 	@media screen and(max-width: 1280px){
// 		body{
// 			width: 100%;
// 		}
// 	}
// }

// =================================================================================
// first modal content.
// =================================================================================
.first-modal {
	display: none;
	position: fixed;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%;
	// overflow: auto; // enable scroll if needed
	background-color: rgba(5, 5, 5, 0.9);
	z-index: 6;
    @include transition;   	
}

.first-modal-content {
	color: white;
	margin-top: 5 * $leading;
	margin-left: auto;
	margin-right:auto;
	width: 9 * ($grid-width + $grid-gutter);
	@media screen and (max-width: $width-medium) {
    	width: 6 * ($grid-width + $grid-gutter);
  	}
	@media screen and (max-width: $width-small) {
    	width: 5 * ($grid-width + $grid-gutter);
  	}

}

.first-modal-content h2 {
	font-size: 0.75 * $leading;
	font-weight: 700;
	text-align: center;
	line-height: 2.5 * $leading;
}

.first-modal-content p {
	line-height: 1.2 * $leading;
	
	@media screen and (max-width: $width-medium) {
		font-size: 0.64 * $leading;
    	line-height: 1 * $leading;
  	}
	@media screen and (max-width: $width-small) {
    	font-size: 0.6 * $leading;
    	line-height: 1 * $leading;
    }
}

//set gap for line space.
.gap {
	height: 0.1 * $leading;
}

main {
	position: absolute;
	left: 2 * $grid-gutter;
	right: 2 * $grid-gutter;
	top: 3 * $leading;
}
