@import 'reset';
@import 'variables';
@import 'grid';

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Pacifico);


$grid-and-gutter: $grid-width + $grid-gutter;
$bg-color: #f4f4f4;

$font-logo: 'Pacifico', cursive;
$font-all: 'Raleway', sans-serif;
$font-stack: 'Helvetica Neue Regular', 'Arial', sans-serif;





body {
   max-width: 15 * $grid-and-gutter;
   background: $bg-color;
   font: $font-all + $font-logo;

   header{

      #large-banner-image{
         position: absolute;
         margin: 0 auto;
         width: 16 * $grid-and-gutter; 
         height: 28 * $leading;
         opacity: 0.5;
      }

      #logo{
         font: {
            family: $font-logo;
            size: 3.5 * $font-size;   
         }
         margin:{
            top: 5 * $leading;
            left: 6 * $grid-and-gutter;
         }
         img {
            float: left;
         }
         p{
            float: left;
            margin-left: $grid-gutter;
         }
         height: 7 * $leading;
         position: absolute;
      }

      h1 {
         font: {
            family: $font-all;
            weight: 300;
            size: 2.25 * $font-size;
         }
         position: absolute;
         text-align: center;
       
         margin:{
            top: 10 * $leading;
            left: 4 * $grid-and-gutter;
            
         }
      }

      #arrow{
         position: absolute;
         margin:{
            top: 13.75 * $leading;
            left: 6.95 * $grid-and-gutter;
         }

      }
   }


   // ------------------------------------------------------------------
   // ------------------------------------------------------------------

   #iphone{
      position: absolute;
      z-index: 2;

      margin:{
         left: 5.45 * $grid-and-gutter;
         top : 16.75 * $leading;
      }
   }


   // ------------------------------------------------------------------
   // ------------------------------------------------------------------



       #head{

         font: {
            family: $font-all;
            weight: 600;
            size: 1.3 * $font-size;
         }
         margin:{
            top: 1.5 * $leading;
         }
       }

      #content {
         font:{
            family: $font-all;
            size: 0.9 * $font-size;
            weight: 300;

         }
         margin:{
            top: 0.9 * $leading;
         }

         line-height: $leading;
         color: #848484;
      }
   

   .feature-left{
      float: left;
      position: absolute;
      width: 2.5 * $grid-and-gutter + $grid-gutter;

      margin:{
         left: 2.6 * $grid-width;
         top: 30 * $leading;
      }
   }

    .feature-right{
      float: right;
      position: absolute;
      width: 2.5 * $grid-and-gutter + $grid-gutter;

      margin:{
         left: 12.65 * $grid-width;
         top: 30 * $leading;
      }
   }

   #container{  
      position: absolute;
      margin-top: 50 * $leading;

   }

   #get{
      position: absolute;
      width: 4 * $grid-and-gutter + $grid-width;
      margin:{
         left: 1.3 * $grid-and-gutter;
         top: 50.75 * $leading;
      } 
     
   }

   #video{
      position: absolute;
      margin:{
         left : 8.075 * $grid-and-gutter;
         top: 51.25 * $leading;
      } 
   }


#play{
   position: absolute;
   margin:{
      left: 8.275 * $grid-and-gutter;
      top: 61.45 * $leading;
   }
}

#play-bar{
   position: absolute;
   margin:{
      left: 9.15 * $grid-and-gutter;
      top: 61.45 * $leading;
   }
}

#icons{
   
   position: absolute;
   margin:{
      top: 59.15 * $leading;
      left: 1.175 * $grid-and-gutter;
   }
   img{
      margin-left: 0.5 * $grid-gutter;
   }

}

#testimonial{
   position: absolute;
   margin:{
      left: 3.15 * $grid-and-gutter;
      top: 70 * $leading;
   }  
   font:{
      size: 1.5 * $font-size;
      family: $font-all;
   }
}

#blogger{
   position: absolute;
   margin:{
      left: 6.45 * $grid-and-gutter;
      top: 72 * $leading;
   }  
   font:{
      size: $font-size;
      family: $font-all;
   }
   span{
      font-weight: 600;
   }
}

#people{
   position: absolute;
   margin:{
      top: 75 * $leading;
   }
}

#active{
   position: absolute;
   margin:{
      left: 9.14 * $grid-and-gutter;;
      top: 78.35 * $leading;
   }
}

#touch{
   position: absolute;
   margin:{
      left: 5 * $grid-and-gutter;
      top: 88.95 * $leading;
   }
   text-align: center; 

}


#twitter{
   position: absolute;
   margin:{
      left: 5.93 * $grid-and-gutter;
      top: 94.2 * $leading;
   }
}

#fb{
   position: absolute;
   margin:{
      left: 6.36 * $grid-and-gutter;
      top: 94.2 * $leading;
   }
}

#pin{
   position: absolute;
   margin:{
      left: 6.79 * $grid-and-gutter;
      top: 94.2 * $leading;
   }
}

#google{
   position: absolute;
   margin:{
      left: 7.22 * $grid-and-gutter;
      top: 94.2 * $leading;
   }
}

#link{
   position: absolute;
   margin:{
      left: 7.68 * $grid-and-gutter;
      top: 94.2 * $leading;
   }
}

#you{
   position: absolute;
   margin:{
      left: 8.05 * $grid-and-gutter;
      top: 94.2 * $leading;
   }
}

#container2{
   position: absolute;
   width: 16 * $grid-and-gutter; 
   height: 5.75 * $leading;
   margin:{
      top: 98.2 * $leading;
   }
}

#footer{
   position: absolute;
   margin:{
      left: 4.45 * $grid-and-gutter;
      top: 100.5 * $leading;
   }  

   >li{
      list-style: none;
      float: left;
      padding:{
         right: 0.48 * $grid-width;
      }
   }
}

}
