@import 'reset';
@import 'variables';
@import 'grid';

html{
   max-width: $width-body;
   margin: 0 auto;

   background: {
      color: $color-background;
   }


}

body{
   font: $font-stack;
   
}
h1 {
   font-size: 2 * $font-size;   // 32px
   line-height: 1.2em;
}

